
button.middle_code_editor_close {
  float:right;
  margin-left:8px;
  margin-right:-4px;
  opacity:1.0;
  padding:0;
  cursor:pointer;
  border:0;
  font-size:21px;
  font-weight:bold;
  text-shadow:0 1px 0 #fff;
  line-height:1;
}

button.middle_code_editor_close:hover {
  text-decoration:none;
  cursor:pointer;
}
