.footer{
	position:fixed;
  padding-top:4px;
  padding-left:3px;
	overflow:hidden;
	width:100%;
	height:32px;
	bottom:0px;
	background-color:#EEE;
	/*border: 1px solid red*/
  border:1px solid #E0E0E0;
}

#footer_status{
  position:relative;
  float:right;
}

button.footer_button{
  height:22px;
  padding-top:0px!important;
}

div.footer_right{
  font-size:11px;
  right:0px;
  position:absolute;
}