
div.comp_layer_log_browser_err{
  color:#FDFDFD;
  background-color:#FF6464;
}

div.log_browser_err{
  background-color:#FF6464;
}

span.log_browser_err_open{
  color:#FDFDFD;
  background: radial-gradient(#FF6464, rgba(0, 0, 0, 0));
  text-shadow: 1px 1px 1px red;
  transform:rotate(45deg);
}

span.log_browser_err_closed,
span.log_browser_err{
  color:#FDFDFD;
  background: radial-gradient(#FF6464, rgba(0, 0, 0, 0));
  text-shadow: 1px 1px 1px red;
}
