
div.comp_layer_log_test_data{
  color:DodgerBlue;
  background-color:PaleTurquoise;
}

div.log_test_data{
  background-color:PaleTurquoise;
}

span.log_test_data{
  color:DodgerBlue;
  background: radial-gradient(PaleTurquoise, rgba(0, 0, 0, 0));
  text-shadow: 1px 1px 1px azure;
}
