
div.comp_layer_log_error{
  color:#AA0000;
  background-color:#FF8888;
}

div.log_error{
  background-color:#FF8888;
}

span.log_error{
  color:#AA0000;
  background:radial-gradient(#FF8888, rgba(0, 0, 0, 0));
}
