
div.comp_layer_log_engine{
  color:Peru;
  background-color:PapayaWhip;
}

div.log_engine{
  background-color:PapayaWhip;
}

span.log_engine{
  color:Peru;
  background:radial-gradient(PapayaWhip, rgba(0, 0, 0, 0));
}
