
div.comp_layer_log_ip{
  color:#0000ff;
  background-color:#DDDDFF;
}

div.log_ip{
  background-color:#DDDDFF;
}

span.log_ip_open{
  color:#0000FF;
  background:radial-gradient(#DDDDFF, rgba(0, 0, 0, 0));
  transform:rotate(45deg);
}

span.log_ip_closed,
span.log_ip{
  color:#0000FF;
  background:radial-gradient(#DDDDFFff, rgba(0, 0, 0, 0));
}
