
div.comp_layer_log_verify_success{
  color:green;
  background-color:#D0E9C6;
}

div.log_verify_success{
  background-color:#D0E9C6;
}

span.log_verify_success{
  color:green;
  background:radial-gradient(#D0E9C6, rgba(0, 0, 0, 0));
}
