
div.comp_layer_log_gui{
  color:Navy;
  background-color:Turquoise;
}

div.log_gui{
  background-color:Turquoise;
}

span.log_gui_open{
  color:Navy;
  background:radial-gradient(Turquoise, rgba(0, 0, 0, 0));
  text-shadow: 1px 1px 1px azure;
  transform:rotate(45deg);
}

span.log_gui_closed,
span.log_gui{
  color:Navy;
  background:radial-gradient(Turquoise, rgba(0, 0, 0, 0));
  text-shadow: 1px 1px 1px azure;
}
