
div.comp_layer_log_inner{
  margin-left:15px;
}

pre.comp_layer_log_inner {
  display:inline-grid;
  margin:0px;
  padding:0px;
  font-family:monospace, monospace;
  font-size:10px;
  font-weight:bold;
  line-height:inherit;
  color:inherit;
  word-break:inherit;
  word-wrap:inherit;
  background-color:inherit;
  border:none;
  border-radius:inherit;
}

svg.inner_log_arrow{
  float:left;
  margin-right:4px;
  margin-top:4px;
}

div.inner_dynamic{
  display:flex;
  margin-left:15px;
  font-family:monospace, monospace;
  font-size:13px;
  font-weight:bold;
  line-height:inherit;
  color:inherit;
}

div.inner_dynamic_with_inner{
  display:inline-flex;
  margin-left:0px;
  font-family:monospace, monospace;
  font-size:13px;
  font-weight:bold;
  line-height:inherit;
  color:inherit;
}