
div.comp_layer_log_heading{
  position:absolute;
  z-index:2;
  background-color:rgb(250,250,255);
  left:0px;
  top:28px;
  right:0px;
  height:21px;
  border-top:1px solid #337ab7;
  border-right:1px solid #337ab7;
  border-bottom:1px solid #337ab7;
  color:#337ab7;
  font-weight:bold;
}

div.comp_layer_log_heading_column{
  position:absolute;
  z-index:2;
  height:20px;
  border-left:1px solid #337ab7;
  padding-left:4px;
}

div.comp_layer_log_heading_column_nbr{
  width:48px;
  min-width:48px;
  left:0px;
  text-align:center;
}

div.comp_layer_log_heading_column_type{
  width:72px;
  min-width:72px;
  left:48px;
}

div.comp_layer_log_heading_column_date{
  width:274px;
  min-width:274px;
  left:110px;
}

div.comp_layer_log_heading_column_actor{
  width:200px;
  min-width:200px;
  left:384px;
}

div.comp_layer_log_heading_column_file_name{
  width:400px;
  min-width:400px;
  left:584px;
}

div.comp_layer_log_heading_column_log{
  width:1600px;
  min-width:1600px;
  left:984px;
}
