
div.comp_layer_log_verify_failure{
  color:red;
  background-color:#FFDDDD;
}

div.log_verify_failure{
  background-color:#FFDDDD;
}

span.log_verify_failure{
  color:red;
  background:radial-gradient(#FFDDDD, rgba(0, 0, 0, 0));
}
