
div.comp_layer_log_browser_log{
  color:#FDFDFD;
  background-color:#AAAAFF;
}

div.log_browser_log{
  background-color:#AAAAFF;
}

span.log_browser_log_open{
  color:#FDFDFD;
  background: radial-gradient(#AAAAFF, rgba(0, 0, 0, 0));
  text-shadow: 1px 1px 1px blue;
  transform:rotate(45deg);
}

span.log_browser_log_closed,
span.log_browser_log{
  color:#FDFDFD;
  background: radial-gradient(#AAAAFF, rgba(0, 0, 0, 0));
  text-shadow: 1px 1px 1px blue;
}
