
div.comp_layer_log_debug{
  color:DarkMagenta;
  background-color:Plum;
}

div.log_debug{
  background-color:Plum;
}

span.log_debug{
  color:DarkMagenta;
  background:radial-gradient(Plum, rgba(0, 0, 0, 0));
}
