
div.comp_layer_log_rows {
  position:absolute;
  overflow:auto;
  top:48px;
  right:0px;
  bottom:0px;
  left:0px;
  z-index:1;
}

div.comp_layer_log_row{
  position:relative;
  height:20px;
  width:5984px;
  white-space:nowrap;
  border-top:0.5px solid #337ab7;
  border-bottom:0.5px solid #337ab7;
}

div.comp_layer_log_column{
  position:absolute;
  overflow:hidden;
  padding-left:2px;
  border-left:1px solid #337ab7;
}

div.comp_layer_log_column_nbr{
  width:48px;
  min-width:48px;
  padding-left:0px!important;
  text-align:center;
}

div.comp_layer_log_column_type{
  left:48px;
  width:72px;
  min-width:72px;
}

div.comp_layer_log_column_date{
  width:274px;
  min-width:274px;
  left:110px;
}

div.comp_layer_log_column_actor{
  width:200px;
  min-width:200px;
  left:384px;
}

div.comp_layer_log_column_actor:hover {
  overflow:visible;
  z-index:4;
}

a.comp_layer_log_column_actor{
  float:right;
  padding-right:4px;
}

a.comp_layer_log_column_actor:hover {
  float:left;
  background-color:white;
  border:1.5px solid black;
  border-radius:2px;
  padding-left:2px;
}

div.comp_layer_log_column_file_name{
  width:400px;
  min-width:400px;
  left:584px;
}


div.comp_layer_log_column_file_name:hover {
  overflow:visible;
  z-index:4;
}

a.comp_layer_log_column_file_name{
  float:right;
  padding-right:4px;
}

a.comp_layer_log_column_file_name:hover {
  float:left;
  background-color:white;
  border:1.5px solid black;
  border-radius:2px;
  padding-left:2px;
}

div.comp_layer_log_column_log{
  width:5000px;
  min-width:5000px;
  left:984px;
  border-right:1px solid #337ab7;
}
