
div.comp_layer_log_warning{
  color:DarkOrange;
  background-color:#FFDD88;
}

div.log_warning{
  background-color:#FFDD88;
}

span.log_warning{
  color:DarkOrange;
  background:radial-gradient(#FFDD88, rgba(0, 0, 0, 0));
}
