
div.comp_layer_log_start_end_row{
  position:relative;
  top:0px;
  bottom:0px;
  color:DimGray;
  background-color:WhiteSmoke;
  height:30px;
  white-space:nowrap;
  border-top:0.5px solid #337ab7;
  border-right:1px solid #337ab7;
  border-bottom:0.5px solid #337ab7;
}

strong.comp_layer_log_start_end_row{
  color:#337ab7;
  margin-left:4px;
}

div.comp_layer_log_start_end_column_nbr{
  position:absolute;
  top:0px;
  bottom:0px;
  width:48px;
  min-width:48px;
  padding:5px 0px !important;
  text-align:center;
  border-left:1px solid #337ab7;
}

div.comp_layer_log_start_end_info{
  position:absolute;
  top:0px;
  bottom:0px;
  width:calc(100% - 48px);
  padding:5px 4px;
  left:48px;
  border-left:1px solid #337ab7;
}