
div.log_column_nbr{
  position:absolute;
  width:48px;
  min-width:48px;
  padding:5px 4px;
  border-right:1px solid #337ab7;
}














tr.log{
  color:DimGray;
  background-color:WhiteSmoke;
  height:30px;
  white-space:nowrap;
  border-left:1px solid #337ab7;
}



div.test_case_table_heading {
  color:#DDFFFF;
  background-color:#596ACF;
  padding:0px 5px;
  font-size:16px;
}

div.test_case_breadcrump {
  position:relative;
  top:8px;
  width:1000%;
}

div.test_case_log_body_table {
  position:absolute;
  overflow:auto;
  top:48px;
  right:0px;
  bottom:0px;
  left:0px;
  z-index:1;
}

div.test_case_log_head_table{
  position:relative;
  overflow:hidden;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  margin-top:-1px;
  z-index:2;
  background-color:transparent;
  border-bottom:1px solid #337ab7;
}

table.test_case_log_head_table thead th,
table.test_case_log_body_table tbody td {
  padding:0px 4px;
}

table.test_case_log_head_table thead th.log_row_filter{
  padding:3px 2px;
  background-color:#F8F8F8;;
}

table.test_case_log_head_table{
  background-color:white;
  min-width:100%;
}

table.test_case_log_body_table{
  min-width:100%;
  content-visibility:auto;
  contain-intrinsic-size:300px;
}

table.test_case_log_head_table thead tr th {
  height:20px;
  border-right:1px solid #337ab7;
  color:#337ab7;
}

table.test_case_log_body_table tbody tr td {
  border-top:1px solid #337ab7;
  border-right:1px solid #337ab7;
}

table.test_case_log_head_table thead tr th:last-child,
table.test_case_log_body_table tbody tr td:last-child {
  border-right:none;
}

tr.log_row_nowrap{
  white-space:nowrap;
}

tr.log_row_heading{
  border-top:1px solid #337ab7;
  white-space:nowrap;
}

th.log_column_nbr,
td.log_column_nbr{
  width:48px;  
  min-width:48px;
}

th.log_column_type,
td.log_column_type{
  width:68px;  
  min-width:68px;
}

th.log_column_date,
td.log_column_date {
  width:284px;  
  min-width:284px;
}

svg.log_arrow{
  margin-left:2px;
}

svg.log_arrow:hover{
  cursor:pointer;
}


