

text.seq_dia_msg_caption_text_left_right{
  font-weight:bold;
  font-size:10px;
  text-anchor:start;
  fill:darkslategray;
}

text.seq_dia_msg_caption_text_right_left{
  font-weight:bold;
  font-size:10px;
  text-anchor:end;
  fill:darkslategray;
}

rect.seq_dia_msg_nbr{
  stroke:Black;
  stroke-width:0.25px;
}

rect.seq_dia_msg_nbr_sent{
  fill:White;
}

rect.seq_dia_msg_nbr_received{
  fill:LightGrey;
}


line.seq_dia_msg_nbr{
  stroke:Black;
  stroke-width:0.25px;
}

g.seq_dia_msg_nbr_hide{
  display:none;
}




text.actor_text{
  text-anchor:middle;
  font-weight:bold;
  font-size:10px;
}


/*line.actor_line{
  stroke:black;
  stroke-width:2;
}*/

/*line.event_line{
  stroke:green;
  stroke-width:3;
}*/

div.seq_dia_protocol_outer{
  position:relative;
  display:inline-block;
  white-space:nowrap;
}

div.seq_dia_protocol_inner{
  position:relative;
  z-index:1;
  display:inline-grid;
  min-width:200px;
  border-radius:4px;
  background-color:whitesmoke;
}

div.seq_dia_protocol_header{
  height:20px;
  display:flow-root;
}

p.seq_dia_protocol_header_stack{
  float:left;
  margin:2px 4px;
  font-size:smaller;
  font-weight:bold;
}

p.seq_dia_protocol_header_transport{
  float:right;
  margin:2px 4px;
  font-size:smaller;
  font-weight:bold;
}

div.seq_dia_protocol_inners_outer{
  padding-left:16px;
}

div.seq_dia_protocol_inners_outer_hide{
  display:none;
}

div.seq_dia_protocol_inner_row{
  height:16px;
  padding-left:2px;
  padding-right:8px;
}

div.inner_dynamic_inline_flex{
  display:inline-flex;
  height:100%;
  width:100%;
  vertical-align:top;
}

div.seq_dia_protocol_inner_row_buffer{
  width:100%;
  height:100%;
  background-color:White;
}

div.seq_dia_protocol_inner_toolbar{
  position:relative;
  height:16px;
  padding-left:2px;
  background-color:lightgray;
}

button.seq_dia_protocol_inner_toolbar_button{
  width:14px;
  height:14px;
}

span.seq_dia_button_message_content_all_open{
  transform:rotate(45deg) scale(0.8);
}

span.seq_dia_button_message_content_all_closed{
  transform:scale(0.8);
}

p.seq_dia_protocol_base,
pre.seq_dia_protocol_base,
a.seq_dia_protocol_base{
  display:inline-grid;
  font-family:sans-serif;
  height:100%;
  font-size:10px;
  font-weight:bold;
}

p.seq_dia_protocol{
  margin:0px 8px 0px 16px;
}

a.seq_dia_protocol_first{
  margin:0px 2px 0px 19px;
}

pre.seq_dia_protocol_first{
  margin:0px 2px 0px 19px;
}

a.seq_dia_protocol{
  margin:0px 2px 0px 1px;
}

p.seq_dia_protocol_no_inners{
  margin-left:34px;
}

pre.seq_dia_inner_buffer {
  display:inherit;
  height:-moz-fit-content;
  height:fit-content;
  overflow-x:auto;
  margin:0px;
  padding:3px;
  font-family:monospace, monospace;
  font-size:10px;
  font-weight:bold;
  line-height:inherit;
  color:inherit;
  word-break:inherit;
  word-wrap:inherit;
  background-color:whitesmoke;
  border:none;
  border-radius:inherit;
}

polygon.seq_dia_arrow:hover{
  cursor:pointer;
}

svg.markup_seq{
  background-color:#fcfcfc;
  border:1px solid #ccc;
}

.svg_display_block{
  display:block;
}

.svg_display_none{
  display:none;
}

.btn-default:active, .btn-default.active {
  background-color:#d0d0d0!important;
  border-color:#e0e0e0!important;
}


