
path.test_none{
  fill:whitesmoke;
  stroke-width:0;
}

path.test_na{
  fill:#d0e9c6;
  stroke-width:0;
}

path.test_nimpl{
  fill:#d0e9c6;
  stroke-width:0;
}

path.test_success{
  fill:#d0e9c6;
  stroke-width:0;
}

path.test_nexec{
  fill:#ffddcc;
  stroke-width:0;
}

path.test_interrupt{
  fill:#ffddcc;
  stroke-width:0;
}

path.test_failure{
  fill:#ffbbbb;
  stroke-width:0;
}


path.test_error{
  fill:#ffddcc;
  stroke-width:0;
}

path.test_timeout{
  fill:LightBlue;
  stroke-width:0;
}

path.test_reflection{
  fill:#ffddcc;
  stroke-width:0;
}




.test_none {
  color:#eeeeee;
  background-color:white !important;
}

.test_na {
  color:#a0c986;
  background-color:#d0e9c6 !important;
}

.test_nimpl {
  color:#a0c986;
  background-color:#d0e9c6 !important;
}

.test_e_interrupt{
  color:green;
  background-color:Honeydew !important;
}

.test_success {
  color:green;
  background-color:#d0e9c6 !important;
}

.test_nexec {
  color:#eeaa88;
  background-color:#ffddcc !important;
}
 
.test_interrupt {
  color:orange;
  background-color:#ffddcc !important;
}

.test_failure {
  color:red;
  background-color:#ffbbbb !important;
}


.test_error {
  color:orange;
  background-color:#ffddcc !important;
}

.test_timeout {
  color:blue;
  background-color:LightBlue !important;
}

.test_reflection {
  color:orange;
  background-color:#ffddcc !important;
}
