
div.address_tab_view {
  position:absolute;
  overflow:auto;
  padding:4px;
  inset:0px;
}

div.address_group {
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  margin:0px;
}

textarea.address_definition {
  overflow:hidden;
  resize:none;
}

div.middle_view_address {
  overflow:hidden;
}

div.address_tabs {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
}

div.labuser_filter{
  color:sandybrown;
  background-color:Seashell !important;
  border-color:sandybrown !important;
}

button.labuser_filter{
  margin-right: 6px;
}