
div.content_tabs_view {
  position:relative;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
}

div.content_tab_view {
  position:absolute;
  overflow:auto;
  padding:4px;
  inset:0px;
}

div.content_group {
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  margin:0px;
}

textarea.content_definition {
  overflow:hidden;
  resize:none;
}

div.middle_view_content {
  overflow:hidden;
}

div.content_tabs {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
}
