
div.login_tab_view{
  position:absolute;
  padding:8px;
  top:32px;
  right:0px;
  bottom:0px;
  left:0px;
}

td.modal_interface {
  vertical-align: middle !important;
}


div.login_logged_in {
  background:linear-gradient(rgb(255, 255, 255), rgb(0, 255, 0)) repeat scroll 0% 0%;
}

div.login_not_logged_in {
  background:linear-gradient(rgb(255, 255, 255), rgb(255, 0, 0)) repeat scroll 0% 0%;
}

div.login_offline{
  background:linear-gradient(rgb(145, 145, 145), rgb(0, 0, 0)) repeat scroll 0% 0%;
}

div.login_not_registered{
  background:linear-gradient(rgb(255, 255, 255), rgb(121, 121, 121)) repeat scroll 0% 0%;
}


div.stage_staged {
  background:linear-gradient(rgb(255, 255, 255), rgb(0, 255, 0)) repeat scroll 0% 0%;
}

div.stage_staged_to_localhost {
  background:linear-gradient(rgb(255, 255, 255), rgb(0, 135, 255)) repeat scroll 0% 0%;
}

div.stage_staged_not_current {
  background:linear-gradient(rgb(255, 255, 255), rgb(255, 215, 0)) repeat scroll 0% 0%;
}

div.stage_not_staged {
  background:linear-gradient(rgb(255, 255, 255), rgb(255, 0, 0)) repeat scroll 0% 0%;
}


div.development_os_verified{
  background:linear-gradient(rgb(255, 255, 255), rgb(0, 255, 0)) repeat scroll 0% 0%;
}

div.development_os_not_verified{
  background:linear-gradient(rgb(255, 255, 255), rgb(121, 121, 121)) repeat scroll 0% 0%;
}

div.development_os_depriceted{
  background:linear-gradient(rgb(255, 255, 255), rgb(255, 215, 0)) repeat scroll 0% 0%;
}

div.development_os_warning{
  background:linear-gradient(rgb(255, 255, 255), rgb(255, 120, 0)) repeat scroll 0% 0%;
}

div.development_os_not_approved{
  background:linear-gradient(rgb(255, 255, 255), rgb(255, 0, 0)) repeat scroll 0% 0%;
}

div.development_os_offline{
  background:linear-gradient(rgb(145, 145, 145), rgb(0, 0, 0)) repeat scroll 0% 0%;
}


div.abstraktor_tools_latest{
  background:linear-gradient(rgb(255, 255, 255), rgb(0, 255, 0)) repeat scroll 0% 0%;
}

div.abstraktor_tools_build {
  background:linear-gradient(rgb(255, 255, 255), rgb(0, 135, 255)) repeat scroll 0% 0%;
}

div.abstraktor_tools_not_current{
  background:linear-gradient(rgb(255, 255, 255), rgb(255, 215, 0)) repeat scroll 0% 0%;
}

div.abstraktor_tools_depriceted{
  background:linear-gradient(rgb(255, 255, 255), rgb(255, 120, 0)) repeat scroll 0% 0%;
}

div.abstraktor_tools_do_not_use{
  background:linear-gradient(rgb(255, 255, 255), rgb(255, 0, 0)) repeat scroll 0% 0%;
}

div.abstraktor_tools_offline{
  background:linear-gradient(rgb(145, 145, 145), rgb(0, 0, 0)) repeat scroll 0% 0%;
}


div.external_tools_verified{
  background:linear-gradient(rgb(255, 255, 255), rgb(0, 255, 0)) repeat scroll 0% 0%;
}

div.external_tools_depriceted{
  background:linear-gradient(rgb(255, 255, 255), rgb(255, 215, 0)) repeat scroll 0% 0%;
}

div.external_tools_do_not_use{
  background:linear-gradient(rgb(255, 255, 255), rgb(255, 120, 0)) repeat scroll 0% 0%;
}

div.external_tools_not_installed{
  background:linear-gradient(rgb(255, 255, 255), rgb(255, 0, 0)) repeat scroll 0% 0%;
}

div.external_tools_offline{
  background:linear-gradient(rgb(145, 145, 145), rgb(0, 0, 0)) repeat scroll 0% 0%;
}
