
.middle_view{
  position:absolute;
  overflow:auto;
  padding:4px 4px 4px 0px;
  right:0px;
  bottom:0px;
  left:218px;
  top:36px;
}

.middle_view_full{
  position:absolute;
  overflow:auto;
  padding:4px 4px 4px 4px;
  right:0px;
  bottom:0px;
  left:0px;
  top:36px;
}

.middle_view_full_full{
  position:absolute;
  overflow:auto;
  padding:4px 4px 4px 4px;
  right:0px;
  bottom:0px;
  left:0px;
  top:0px;
}

.doc_same_size_as_parent{
  position:relative;
  width:100%;
  height:100%;
}

span.middle_plus_service{
  top:3px;
  left:2px;
}
