div.middle_sidebar{
  position:absolute;
  width:218px;
  top:36px;
  left:0px;
  bottom:0px;
  padding:4px;
}

h4.middle_sidebar{
  font-weight:bold;
}

a.middle_sidebar{
  color:Gray;
}

a.middle_sidebar:hover{
  cursor:pointer;
  text-decoration:underline;
  color:DarkSlateBlue;
}

div.middle_sidebar_panel {
  position: absolute;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
  margin:4px;
}

div.middle_sidebar_panel_body {
  overflow-y:auto;
  height:100%;
}

td.sidbar_2_col{
  
}

td.sidbar_3_col{
  width:60px;
}
