
button.stack_editor_success{
  background-image:none;
  background-color:Honeydew !important;
}

button.stack_editor_error{
  background-image:none;
  background-color:MistyRose !important;
}

div.middle_stack_editor_sidebar_mover {
  position:absolute;
  top:0px;
  bottom:0px;
  width:4px;
  right:0px;
}

div.middle_stack_editor_sidebar {
    position: absolute;
    top: 36px;
    left: 0px;
    bottom: 0px;
    padding: 4px;
}

div.middle_stack_editor_sidebar_mover:hover {
  cursor:e-resize;
}
