
div.middle_view_test_suites {
  overflow:hidden;
}

div.test_suites_table {
  position:relative;
  overflow:auto;
  top:0px;
  bottom:0px;
}

div.test_suite_tabs {
  position:absolute;
  top:40px;
  left:0px;
  right:0px;
  bottom:0px;
}

div.test_suite_tab_view {
  position:absolute;
  padding:8px;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

div.test_suite_columns {
  position:absolute;
  display:flex;
  left:0px;
  right:0px;
  top:40px;
  bottom:0px;
}

div.test_suite_column {
  margin:0px 4px;
  overflow-y:auto;
}

table.test_suites_table {
  margin-right:32px;
}

a.test_suite_link{
  color:Gray;
}

a.test_suite_link:hover{
  cursor:pointer;
  text-decoration:underline;
  color:DarkSlateBlue;
}

div.test_suite_tab {
  overflow:auto;
}


div.test_suite_form_group {
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  margin:0px;
}

div.test_suite_table_fit_content {
  width:-moz-fit-content;
  width:fit-content;
}

textarea.test_suite_definition {
  overflow:hidden;
  resize:none;
}

table.test_suite_table{
  width:fit-content;
}

table.test_suite_table tbody tr{
  white-space:nowrap;
}

tr.test_suite_row_stage_success{
  background-color:Honeydew !important; 
}

tr.test_suite_row_stage_failure{
  background-color:MistyRose !important; 
}

span.test_suite_row_stage{
  font-weight: bold !important;
}

span.test_suite_row_stage_push{
  display:inline-block;
  transform:rotate(90deg);
}

span.test_suite_row_stage_pop{
  display:inline-block;
  transform:rotate(-90deg);
}

span.test_suite_row_stage_change{
  
}
span.test_suite_row_stage_restore{
  display:inline-block;
  transform:scale(-1, 1);
}

th.ts_nbr,
td.ts_nbr{
  display:inline-block;
}

table.test_suite_table thead th,
table.test_suite_table tbody td,
table.test_suite_table tbody th {
  padding: 0px 5px !important; 
}

table.test_suite_table tbody th.test_suite_header{
  width:0px;
}

table.test_suite_table tbody td.test_suite_header_duration{
  min-width:106px;
}

table.test_suite_table tbody td.test_suite_header_result{
  min-width:36px;
}

table.test_suite_table tbody td.test_suite_header_start{
  min-width:280px;
  max-width:280px;
}

table.test_suite_table tbody td.test_suite_header_stop{
  min-width:280px;
  max-width:280px;
}

table.test_suite_table_heading_execution {
  margin-bottom:0px;
}

div.test_suite_table_log_row_execution {
  position:absolute;
  padding:0px;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  min-width:100%;
}

div.test_suite_table_heading {
  color:#DDFFFF;
  background:#596ACF;
  padding:0px 5px;
  font-size:16px;
}

tr.test_suite_comment_out{
  background-color:lightgoldenrodyellow !important;
}

div.test_suite_breadcrump {
  position:relative;
  top:8px;
  width:1000%;
}


div.test_suite_result_view_tcs{
  overflow:visable;
  position:relative;
  float:right;
  width:74px;
  top:-38px;
  height:38px;
}

text.test_suite_result_view_tcs{
  text-anchor:middle;
  font: bold 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill:black;
  stroke-width:0px;
}

div.test_suite_result_view_iterations{
  overflow:visable;
  position:relative;
  float:right;
  width:74px;
  top:-38px;
  height:38px;
}

text.test_suite_result_view_iterations{
  text-anchor:middle;
  font: bold 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill:black;
  stroke-width:0px;
}

svg.test_suite_result_view{
  stroke:black;
  stroke-width:1px;
  fill:transparent;
}

span.test_suite_execution {
  color:green;
}

span.test_suite_execution_slow {
  color:LightGreen;
}

span.test_suite_log {
  color:blue;
}

span.test_suite_log_slow {
  color:LightBlue;
}

span.test_suite_sequence-diagram {
  color:Gold;
}

span.test_suite_sequence-diagram_slow {
  color:LemonChiffon;
}

td.duration_0 {
  background-color:#2400D9;
  color:lightblue;
}

td.duration_1 {
  background-color:#191DF7;
}

td.duration_2 {
  background-color:#2957FF;
}

td.duration_3 {
  background-color:#3D87FF;
}

td.duration_4 {
  background-color:#57B0FF;
}

td.duration_5 {
  background-color:#75D3FF;
}

td.duration_6 {
  background-color:#99EBFF;
}

td.duration_7 {
  background-color:#BDF9FF;
}

td.duration_8 {
  background-color:#EBFFFF;
}

td.duration_9 {
  background-color:#FFFFEB;
}

td.duration_10 {
  background-color:#FFF2BD;
}

td.duration_11 {
  background-color:#FFD699;
}

td.duration_12 {
  background-color:#FFAC75;
}

td.duration_13 {
  background-color:#FF7857;
}

td.duration_14 {
  background-color:#FF323D;
}

td.duration_15 {
  background-color:#FB2D48;
}

td.duration_16 {
  background-color:#F72836;
}

td.duration_17 {
  background-color:#E81F33;
}

td.duration_18 {
  background-color:#D91630;
}

td.duration_19 {
  background-color:#C80E2B;
}

td.duration_20 {
  background-color:#B70726;
}

td.duration_21 {
  background-color:#A60021;
}
