
div.test_data_tabs_view {
  position:relative;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
}

div.test_data_form_group {
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  margin:0px;
}

div.test_data_tab_view {
  position:absolute;
  overflow:auto;
  padding:4px;
  inset:0px;
}

textarea.test_data_definition {
  overflow:hidden;
  resize:none;
}

div.middle_view_test_data {
  overflow:hidden;
}

div.test_data_tabs {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
}

table.test_data_table{
  white-space:nowrap;
}

table.test_data_table thead th,
table.test_data_table tbody td,
table.test_data_table tbody th {
  padding: 0px 5px !important; 
}

