
.header{
  position:absolute;
  overflow:hidden;
  width:100%;
  height:53px;
  background:linear-gradient(to right, #f9f9f9 0%,white 100%);
}

.header_icon{
  position:absolute;
  width:272px;
  height:53px;
}
