
.header_status{
  position:absolute;
  height:53px;
  color:#505050;
  left:272px;
  width:calc(100% - 272px);
}

table.table_header_status{
  border-collapse:collapse;
}

th.table_header_status, td.table_header_status{
  position:relative;
  overflow:hidden;
  white-space:nowrap;
  max-width:200px;
  padding:0px 4px 0px 4px;
  border:1px solid #fff;
  text-align:center;
  background-color:#eee;
  font-size:smaller;
}

td.table_header_status{
  color:Black;
}

td.table_header_status{
  color:Gray;
}

.header_status_success{
  background: hsl(120, 100%, 75%) linear-gradient(#c8f2c8, #a6f7a6);
}

.header_status_not_current{
  background: hsl(48, 100%, 70%) linear-gradient(hsl(48deg 100% 83%), hsl(48deg 98% 71%));
}

.header_status_warning{
  background: hsl(36, 100%, 70%) linear-gradient(hsl(36deg 85% 81%), hsl(36deg 92% 72%));
}

.header_status_failure{
  background: hsl(0deg 100% 73%) linear-gradient(hsl(0deg 78% 85%), hsl(0deg 92% 70%));
}

.header_table_heading{
  background: radial-gradient(circle, hsl(0, 0%, 100%), hsl(0, 0%, 95%));
}

.header_status_environment{
	position:relative;
	float:right;
	height:64px;
}

.header_status_environment_sut{
	position:relative;
	float:right;
	height:64px;
}

.header_status_login{
  position:relative;
  float:right;
  height:64px;
}

div.status_popup_help_outer_group{
  margin-top:30px;  
}

div.status_popup_help_outer{
  margin:8px 0px;  
}

div.status_popup{
  height:9px;
  position:relative;
  float:left;
  top:4px;
  width:9px;
  margin:0px 1px;
  border:solid 1px SlateGray;
  border-radius:6px;
  margin-right:5px;
}

div.status_popup_help{
  height:9px;
  position:relative;
  top:-12px;
  width:9px;
  margin:6px 2px;
  border:solid 1px SlateGray;
  border-radius:6px;
}

div.status_popup_help_inner{
  float:left;
  margin-top:-24px;
  left:16px;
  position:relative;
}

p.status_popup_help_inner{
  position:relative;
  margin:0px;
  top:-8px;
  padding-right:20px;
}
