
div.build_info{
  background-color:antiquewhite;
  border:1px Solid Black;
  width:100px;
  height:22px;
  float:left;
  margin-right:4px;
}

div.test_execution_info{
  background-color:antiquewhite;
  border:1px Solid Black;
  width:100px;
  height:22px;
  float:left;
  margin-right:4px;
}
