
div.start_info{
  position:relative;
}

div.start_menu_outer{
  position:relative;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}

div.start_menu_inner{
  position:relative;
  width:300px;
  height:140px;
  padding:4px;
  border:1px solid slategray;
  border-radius:4px;
  box-shadow:3px 3px 3px 1px #999;
}

h3.start_info_heading{
  margin-top:4px;
  margin-left:4px;
  font-weight:bold;
}

p.start_info_text{
}

button.start_info_button{
  position:absolute;
  bottom:4px;
  right:4px;
}

div.middle_start_repo_setup_outer{
  position:relative;
  width:100%;
  text-align:center;
}

div.middle_start_repo_setup_inner{
  display:inline-block;
  background-color:AliceBlue;
  max-width:70%;
  min-width:700px;
  border:solid black 1px;
  border-radius:3px;
}

h2.start_welcome{
  font-weight:bold;
}

p.start_welcome{
  text-align:left;
  padding:0px 8px;
}

div.middle_start_clone{
  float:right;
  padding:0px 21px 12px 0px;
}

div.input_column{
  padding-right:4px;
  padding-left:4px;
}

@keyframes fadeIn{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

div.start_menu{
  overflow-y:auto;
}

img.start_page{
  position:relative;
  display:block;
  margin-left:auto;
  margin-right:auto;
  opacity:1;
  animation:fadeIn 3s ease;
}

@keyframes slide{
  0% { calc(-100%); }
  100% { left: 0px; }
}

