

div.component_video_controls{
  position:relative;
  visibility:visable;
  opacity:0.5;
  width:100%;
  border-radius:10px;
  bottom:20px;
  background-color:black;
  box-shadow:3px 3px 5px black;
  transition:1s all;
  display:flex;
}

