
div.debug_panel{
  overflow:hidden;
  padding:3px 2px;
  background-color:#F8F8F8;
  height:28px;
}

div.debug_tabs{
  width:calc(100% - 260px);
}

div.debug_tab_view {
  position:absolute;
  padding:4px 0px 4px 4px;
  margin:0px;
  top:26px;
  right:4px;
  bottom:0px;
  left:0px;
}

div.debug_sidebar{
  position:relative;
  overflow:hidden;
  width:256px;
  height:calc(100% - 32px);
  top:0px;
  left:calc(100% - 260px);
}

div.debug_debug_mover{
  position:absolute;
  top:0px;
  bottom:0px;
  width:4px;
}

div.debug_debug_mover:hover{
  cursor:e-resize;
}

div.debug_debug{
  overflow:auto;
  width:calc(100% - 4px);
  height:calc(100% - 2px);
  top:2px;
  left:4px;
  position:absolute;
  border: 1px solid #ddd;
  border-radius: 4px;
}

div.debug_debug_group{
  margin-bottom:0px;
  overflow:visible;
}

p.debug_debug_group{
  margin:0px;
}

svg.debug_body_open{
  float:left;
  margin: 2px 4px 1px 1px;
  transform-origin:50% 50%;
  transform:rotate(90deg);
}

svg.debug_body_closed{
  float:left;
  margin: 2px 4px 1px 1px;
}

div.debug_body_open{
}

div.debug_body_closed{
  display:none;
}

div.debug_stack_heading{
  padding:3px;
  font-size:10px;
  font-weight:bold;
}

div.debug_stack_body{
  overflow:visible;
  padding:3px;
  font-size:10px;
  font-weight:bold;
}

a.debug_stack{
  font-size:10px;
  padding:1px 4px 16px 4px !important;
}

p.debug_stack_left{
  position:absolute;
  margin:0px !important;
  padding:0px !important;
}

p.debug_stack_right{
  position:relative;
  float:right;
  margin:0px !important;
  padding:0px !important;
}

div.debug_scope_heading{
  padding:3px;
  font-size:10px;
  font-weight:bold;
}

div.debug_scope_body{
  overflow:visible;
  padding:3px;
  font-size:10px;
}

ul.debug_scope{
  overflow:visible;
}

li.debug_scope{
  clear:left;
  white-space:nowrap;
}

a.debug_scope{
  float:left;
  width:-moz-max-content;
  width:max-content;
  font-size:10px;
  padding:1px !important;
  margin:-1px;
}

p.debug_scope{
  float:left;
  margin:0px 4px 0px 0px !important;
  padding:0px !important;
}

span.debug_scope{
  float:left;
  margin:0px 4px 0px 0px !important;
  padding:0px !important;
}

p.debug_scope_type{
  float:left;
  margin:0px 4px 0px 0px !important;
  padding:0px !important;
  color:DarkGray;
}

svg.debug_scope_open_object{
  float:left;
  margin:3px 4px 0px 0px;
  transform:rotate(90deg);
}

svg.debug_scope_closed_object{
  float:left;
  margin:3px 4px 0px 0px;
}

div.debug_scope_open_object{
  padding:2px 0px 0px 14px;
}

div.debug_scope_closed_object{
  padding:2px 0px 0px 8px;
  display:none;
}

div.debug_breakpoint_heading{
  padding:3px;
  font-size:10px;
  font-weight:bold;
}

div.debug_breakpoint_body{
  overflow:visible;
  padding:3px;
  font-size:10px;
}

a.debug_breakpoint{
  font-size:10px;
  padding:1px 4px 16px 4px !important;
}

input.debug_breakpoint{
  float:left;
  width:10px;
  margin:1.5px 4px 0px 0px!important;
}

p.debug_breakpoint{
  float:left;
  margin:0px !important;
  padding:0px !important;
}

span.debug_atom{color:#219;}
span.debug_def{color:#00f;}
span.debug_number{color:#164;}
span.debug_string{color:#a11;}
span.debug_variable{color:black;}

#debug_popover{
  display:block;
  position:absolute;
  z-index:2000;
}

#debug_popover_tooltip{
  border-radius:6px;
  border:1px solid rgba(0, 0, 0, .2);
  background-color:white;
  width:fit-content;
  white-space:nowrap;
}

#debug_popover_title_value{
  overflow:hidden;
  height:20px;
  background-color:#fb0a0a;
  color:white;
  margin:0px;
  padding:0px;
}

#debug_popover_title_function{
  overflow:hidden;
  height:20px;
  background-color:LimeGreen;
  color:white;
  margin:0px;
  padding:0px;
}

#debug_popover_title_title{
  float:left;
  padding:0px 0px 0px 6px;
  margin:0px;
}

#debug_popover_title_close{
  padding:3px 5px 0px 0px;
  margin:0px;
  font-size:small;
  color:white;
  opacity:1;
}

#debug_popover_content{
  overflow:auto;
  max-height:128px;
  padding:4px;
  width:100%;
  color:Black;
}

p.debug_popover_content{
  margin:0px;
}

.debug_break_level_0{
  background-color:#FFDDDD;
}

.debug_break_level_0_plus_x{
  background-color:#FFEEEE;
}
