
div.middle_view_system_under_tests {
  overflow:hidden;
}

div.system_under_test {
  position:absolute;
  left:0px;
  right:4px;
  top:40px;
  bottom:4px;
}

div.systems_under_test_tab_view_outer {
  display:flex;
  flex-flow:column;
}

div.systems_under_test_tab_view{
  position:relative;
  overflow:auto;
  height:100%;
  padding:4px;
}

div.systems_under_test_tab_view_inner {
  position:absolute;
  padding:0px;
  top:26px;
  right:0px;
  bottom:0px;
  left:4px;
  overflow:auto;
}

div.systems_under_test_markup_panel{
  position:relative;
  padding-left:5px;
  background-color:#EEE;
}

div.systems_under_test_group {
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  margin:0px;
}
