
div.systems_under_test_specification_preview{
  position:absolute;
  overflow:auto;
  inset:26px 0px 0px 0px;
  border:1px solid #ccc;
  border-radius:4px;
}

h3.systems_under_test_specification{
  float:left;
  font-weight:bold;
  margin-top:4px;
}

h3.systems_under_test_specification_sut{
  float:none;
  margin-top:4px;
}

p.systems_under_test_specification_data{
  font-weight:bold;
}

p.systems_under_test_specification_data_last,
p.systems_under_test_specification{
  float:left;
  font-weight:bold;
}

div.systems_under_test_specification_description{
  position: relative;
  bottom:0px;
  border:1px solid #ddd;
  padding:4px;
  background-color:antiquewhite;
  border-radius:4px;
}

div.systems_under_test_specification_markup{
  position:relative;
  top:0px;
  bottom:0px;
  height:100%;
  margin-top:4px;
  border:1px solid #ddd;
  border-radius:4px;
}