
span.test_case_debug {
  color:Crimson;
}

span.test_case_debug_slow {
  color:LightCoral;
}

div.test_case_debug{
  height:6px;
  position:absolute;
  top:17px;
  width:6px;
  background-color:Crimson;
  left:7px;
  border-radius:6px;
}

span.test_case_breakpoints {
  color:cornflowerblue;
}
