
div.middle_view_test_cases {
  overflow:hidden;
}

div.test_cases_table {
  position:relative;
  overflow:auto;
  top:0px;
  bottom:0px;
}

div.test_case_tabs {
  position:absolute;
  top:40px;
  left:0px;
  right:0px;
  bottom:0px;
}

div.test_case_tab_view_with_toolbar{
  position:absolute;
  top:28px;
  right:0px;
  bottom:0px;
  left:4px;
  overflow:auto;
}

div.test_case_tab_view_with_toolbar_seq_dia{
  position:absolute;
  top:28px;
  right:0px;
  bottom:0px;
  left:4px;
  overflow:hidden;
}

div.test_case_columns {
  position:absolute;
  display:flex;
  left:0px;
  right:0px;
  top:40px;
  bottom:0px;
}

div.test_case_column {
  margin:0px 4px;
  overflow-y:auto;
}

table.test_cases_table {
  margin-right:32px;
}

a.test_case_link{
  color:Gray;
}

a.test_case_link:hover{
  cursor:pointer;
  text-decoration:underline;
  color:DarkSlateBlue;
}

div.test_cases_group {
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  margin:0px;
}

div.test_case_table_fit_content {
  width:-moz-fit-content;
  width:fit-content;
}

textarea.test_case_definition {
  overflow:hidden;
  resize:none;
}

span.test_case_execution {
  color:green;
}

span.test_case_execution_slow {
  color:LightGreen;
}

div.test_case_execution{
  height:6px;
  position:absolute;
  top:17px;
  width:6px;
  background-color:green;
  left:7px;
  border-radius:6px;
}

span.test_case_log {
  color:blue;
}

span.test_case_log_slow {
  color:LightBlue;
}

div.test_case_log{
  height:6px;
  position:absolute;
  top:17px;
  width:6px;
  background-color:blue;
  left:7px;
  border-radius:6px;
}

span.test_case_sequence-diagram {
  color:Gold;
}

span.test_case_sequence-diagram_slow {
  color:LemonChiffon;
}

div.test_case_sequence-diagram{
  height:6px;
  position:absolute;
  top:17px;
  width:6px;
  background-color:Gold;
  left:7px;
  border-radius:6px;
}

div.test_cases_tab_view{
  position:relative;
  overflow:auto;
  height:100%;
  padding:4px;
}

table.test_case_table thead th,
table.test_case_table tbody td,
table.test_case_table tbody th {
  padding:0px 5px !important; 
}

table.test_case_table tbody td.test_case_phase_pre {
  background-color:SkyBlue !important;
}

table.test_case_table tbody td.test_case_phase_exec {
  background-color:PaleGreen !important;
}

table.test_case_table tbody td.test_case_phase_post {
  background-color:#ffff84 !important;
}

span.log_result{
  border:1px solid #337ab7;
  padding:0px 2px;
  margin-left:4px;
  margin-right:8px;
  border-radius:2px;
}
