
div.test_cases_specification_preview{
  position:absolute;
  overflow:auto;
  inset:26px 0px 0px 0px;
  border:1px solid #ccc;
  border-radius:4px;
}

div.test_cases_tab_view_specification_outer {
  display:flex;
  flex-flow:column;
}

div.test_case_tab_view_specification_inner {
  flex-grow:1;
}

span.testcase_specification_button_color{
  color:darkslategray;
}

div.test_case_tab_view_specification{
  padding-top:8px;
  overflow:auto;
}

h3.test_cases_specification{
  float:left;
  font-weight:bold;
  margin-top:4px;
}

h3.test_cases_specification_sut{
  float:none;
  margin-top:4px;
}

p.test_cases_specification_data{
  font-weight:bold;
}

p.test_cases_specification_data_last,
p.test_cases_specification{
  float:left;
  font-weight:bold;
}

div.test_cases_specification_description{
  position: relative;
  bottom:0px;
  border:1px solid #ddd;
  padding:4px;
  background-color:antiquewhite;
  border-radius:4px;
}

div.test_cases_specification_markup{
  position:relative;
  top:0px;
  bottom:0px;
  height:100%;
  margin-top:4px;
  border:1px solid #ddd;
  border-radius:4px;
}

div.test_cases_markup_panel{
  position:relative;
  padding-left:5px;
  background-color:#EEE;
}

div.test_cases_tab_view_inner {
  position:absolute;
  padding:0px;
  top:26px;
  right:0px;
  bottom:0px;
  left:4px;
  overflow:auo;
}
