
div.videos_menu_outer{
  position:relative;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}

div.videos_menu_inner{
  width:12%;
  padding:4px;
  border:1px solid slategray;
  border-radius:4px;
  box-shadow:3px 3px 3px 1px #999;
}

div.videos_meny_header{
  background-color:#ccc;
  margin:-4px -4px 4px -4px;
  padding:4px;
}

h2.videos_meny{
  margin:0px 0px 4px 0px;
  font-size:1.7vw;
  font-weight:bold;
}

a.videos_meny{
  color:Gray;
}

a.videos_meny:hover{
  cursor:pointer;
  text-decoration:underline;
  color:DarkSlateBlue;
}
